<!--
This page is loaded when the user does not select a reason for submitting the report.
It has an error message at the top, but is otherwise the same as the report form page.


Report form database data:
- user id of the user reporting the post
- post that is reported
- reason for reporting the post (form)
    - reason1
    - reason2
    - reason3
    - reason4

- Zephyr
-->

<h1>Report Form</h1>

<p id="error">Error: You must select a reason for reporting a post!</p>

<p>Post you are reporting: {{reported-post}}</p>  

<p>Reason for reporting this post:</p>
<form action="/post" method="post" id="reason">
    <input type="checkbox" id="reason1" name="reason1" value="reason1">
    <label for="vehicle2">Spam</label><br>
    <input type="checkbox" id="reason2" name="reason2" value="reason2">
    <label for="vehicle3">Abusive comments</label><br>
    <input type="checkbox" id="reason3" name="reason3" value="reason3">
    <label for="vehicle3">Innappropriate language</label><br>
    <input type="checkbox" id="reason4" name="reason4" value="reason4">
    <label for="vehicle3">Off topic</label><br>
    <input type="submit" value="Submit Report" class="button">
</form>