<!--
This page is displayed when the user successfully submits a post.
It also provides a link to go back to the home page.

-Zephyr
-->

<p>Report successfully submitted!</p>
<a href="/">Go back to home page</a>