<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>CS546 Final Project</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
    <div class="bg-color">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></a></li>
                </ul>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" method="get" action="./search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Here">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gender <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="localhost:3000/homePage/search?searchString=Men">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outdoor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Hike</a></li>
                                <li><a href="#">Swim</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Sports</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indoor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Party</a></li>
                                <li><a href="#">Yoga</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Sleepwear</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Suit</a></li>
                                <li><a href="#">Dress</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Ceremony</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seasons <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Spring</a></li>
                                <li><a href="#">Summer</a></li>
                                <li><a href="#">autumn</a></li>
                                <li><a href="#">Winter</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{#if username}}
                            <span id="userNAME">Hello, {{username}}.</span>
                            <button type="button" onclick="window.location.href='localhost:3000/signout'" class="btn btn-default navbar-btn">Sign out</button>
                        {{else}}
                            <button type="button" onclick="window.location.href='localhost:3000/signin'" class="btn btn-default navbar-btn">Sign in</button>
                            <button type="button" onclick="window.location.href='localhost:3000/signup'" class="btn btn-default navbar-btn">Sign up</button>
                        {{/if}}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            {{{body}}}
        </div>
        <hr/>
    </div>
    <div class="footer">
        <p>
            <a href="#">Chuanyao Lin | </a>
            <a href="#">Donglin Chen | </a>
            <a href="#">Jiayi Sun | </a>
            <a href="#">Zephyr Zambrano</a>
        </p>
        <p>
            <a href="#">@CS546 Group14 2020Spring</a>
        </p>
    </div>
    <div id="to-top">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">TOP</span>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="../../public/js/script.js"></script>
    <!-- to Top -->
    <script type="text/javascript">
        // set action for '#to-top'
        $('#to-top').click(function () {
            // $('html, body').scrollTop(0)
            $page = $('html, body')
            var distance = $('html').scrollTop() + $('body').scrollTop()
            var time = 250
            var interval = 25
            var itemDistance = distance/(time/interval)

            var intervalId = setInterval(function () {
                distance -= itemDistance
                if(distance <= 0){
                    distance = 0
                    clearInterval(intervalId)
                }
                $page.scrollTop(distance)
            }, interval)
        })
    </script>
    </body>
</html>
