.img-ad {
    width: 100%;
}

.post-part {
    padding: 10px 20px 20px 50px;
    float: left;
}

.user-Pic {
    width: 85px;
    height: 85px;
}

.footer {
    height: 80px;
    background-color: #f4f3f3;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #3c3c3c;
}

.footer a:hover {
    color: #b52818;
}

#to-top {
    color: #3c3c3c;
    text-decoration: none;
    left: 95%;
    top: 90%;
    position: fixed;
}

#to-top:hover {
    color: #b52818;
}

#addNewPost {
    position: relative;
    padding-left: 25%;
}

#Guide {
    padding-left: 18px;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}

#signin-form {
    margin: 0 auto 18%;
    padding-right: 350px;
}

#signup-form {
    margin: 0 auto 8%;
    padding-right: 350px;
}