<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<div class="container">
    <main class="container">
        <!-- advertisement here -->
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="container">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="img-ad" src="../../public/images/nike-ad.jpg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-ad" src="../../public/images/nike-ad.jpg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-ad" src="../../public/images/nike-ad.jpg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <!-- Posts list here -->
        <div class="row">
            <div class="col-sm-12">
<!--                {{#each HomePagePosts}}-->
<!--                    <div class="media post-part">-->
<!--                        <div class="media-left">-->
<!--                            <a href="#">-->
<!--                                <img class="media-object user-Pic" src="../../public/images/user1.jpg" alt="UserPic">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="media-body">-->
<!--                            <h4 class="media-heading">{{HomePagePosts.title}}</h4>-->
<!--                            {{HomePagePosts.content}}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {{else}}-->
<!--                    <h2>There is no result.</h2>-->
<!--                {{/each}}-->
                <div class="media post-part">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object user-Pic" src="../../public/images/user1.jpg" alt="UserPic">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">I love this match!!!</h4>
                        This is what I wore yesterday to attend a party, and asdasdasd  sda asdas asdasd d dasdasdasdasdasd  s das a as das asda a sa dasa asd asdsadasa  asdad asdadsdada as d asd asdadasd as dasd aa s f sf fsd fsad fasdf asfs sdadasdf aas das asdf asd asd fdf asdf asd fasdf sdf aasf asdf .
                    </div>
                </div>
                <div class="media post-part">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object user-Pic" src="../../public/images/user1.jpg" alt="UserPic">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">I love this match!!!</h4>
                        This is what I wore yesterday to attend a party, and asdasdasd  sda asdas asdasd d dasdasdasdasdasd  s das a as das asda a sa dasa asd asdsadasa  asdad asdadsdada as d asd asdadasd as dasd aa s f sf fsd fsad fasdf asfs sdadasdf aas das asdf asd asd fdf asdf asd fasdf sdf aasf asdf .
                    </div>
                </div>
                <div class="media post-part">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object user-Pic" src="../../public/images/user1.jpg" alt="UserPic">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">I love this match!!!</h4>
                        This is what I wore yesterday to attend a party, and asdasdasd  sda asdas asdasd d dasdasdasdasdasd  s das a as das asda a sa dasa asd asdsadasa  asdad asdadsdada as d asd asdadasd as dasd aa s f sf fsd fsad fasdf asfs sdadasdf aas das asdf asd asd fdf asdf asd fasdf sdf aasf asdf .
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <!-- Add new Post -->
        <div id="addNewPost">
            <form id="static-form" method="post" action="./home">
                <div class="row">
                    <h4 id="Guide">Add new Post here.</h4>
                    <div class="col-sm-8">
                        <input name="phrase" id="titleId" class="form-control" placeholder="Title" value="" aria-describedby="basic-addon1"></input>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-sm-8">
                        <textarea name="phrase" id="contentId" cols="74" rows="6" placeholder="Say something..." value=""></textarea>
                    </div>
                    <div class="all-checkbox col-sm-4">
                        <p><label class="checkbox-inline">
                            <input type="checkbox" id="check1" value="tag1">
                            <label for="check1">Men</label>
                        </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check2" value="tag2">
                                <label for="check2">Women</label>
                            </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check3" value="tag3">
                                <label for="check3">Kids</label>
                            </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check4" value="tag4">
                                <label for="check4">Travel</label>
                            </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check5" value="tag5">
                                <label for="check5">Hike</label>
                            </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check6" value="tag6">
                                <label for="check6">Camp</label>
                            </label>&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check7" value="tag7">
                                <label for="check7">Sports</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check8" value="tag8">
                                <label for="check8">Party</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check9" value="tag9">
                                <label for="check9">Yoga</label>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check10" value="tag10">
                                <label for="check10">Sleepwear</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check11" value="tag11">
                                <label for="check11">Suit</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check12" value="tag12">
                                <label for="check12">Dress</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check14" value="tag14">
                                <label for="check14">Ceremony</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check15" value="tag15">
                                <label for="check15">Spring</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check16" value="tag16">
                                <label for="check16">Summer</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check17" value="tag17">
                                <label for="check17">Autumn</label>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="check18" value="tag18">
                                <label for="check18">Winter</label>
                            </label>
                        </p>
                    </div>
                </div>

                <br/>
                <div>
                    <label class="btn btn-default fileinput-button">
                        <span>Choose photos</span>
                        <input id="addImg" type="file">
                    </label>
                    <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Submit</button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>
