/* nav bar example
https://www.w3schools.com/css/css_navbar.asp
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav { /*ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

#nav-item { /*li*/
    display: inline;
    float: left;
    border-color: black;
    border-style: solid;
}

#nav-link { /*a*/    
    display: block;
    padding: 8px;
    background-color: #dddddd;
}